Laurent Montel <montel@kde.org>
<aacid@kde.org> <tsdgeos@terra.es>
<asturm@gentoo.org> <andreas.sturmlechner@gmail.com>
<camille.moulin@free.fr> <cmoulin@inno3.fr>
<camille.moulin@free.fr> <camille.moulin+kde@free.fr>
<carl@carlschwan.eu> <schwancarl@protonmail.com>
<kde@psycoti.ca> <0@psycoti.ca>
<cfeck@kde.org> <christoph@maxiom.de>
<erjiang@alumni.iu.edu> <erjiang@alumni.indiana.edu>
<farid@gunga.com.br> <snd.noise@gmail.com>
<git@blumia.net> <wzc782970009@gmail.com>
<heiko.becker@kde.org> <heirecka@exherbo.org>
<juku.trump@gmail.com> <juku.trump@kdemail.net>
<julius.kuenzel@kde.org> <jk.kdedev@smartlab.uber.space>
<french.ebook.lover@gmail.com> <alcinos@fb.com>
<rafal.lalik@uj.edu.pl> <rafallalik@gmail.com>
<sgmoore@debian.org> <sgmoore@kde.org>
<tcberner@FreeBSD.org> <tcberner@gmail.com>
<vpinon@kde.org> <vincent.pinon@asygn.com>
<vpinon@kde.org> <vincent.pinon@laposte.net>
