[Desktop Entry]
Type=Service
Name=MLT Playlist
Name[ar]=قائمة تشغيل MLT
Name[bs]=MLT lista izvođenja
Name[ca]=Llista de reproducció MLT
Name[ca@valencia]=Llista de reproducció MLT
Name[cs]=Seznam skladeb MLT
Name[da]=MLT-afspilningsliste
Name[de]=MLT-Wiedergabeliste
Name[el]=Λίστα αναπαραγωγής MLT
Name[en_GB]=MLT Playlist
Name[es]=Lista de reproducción de MLT
Name[et]=MLT-esitusloend
Name[eu]=MLT jo-zerrenda
Name[fi]=MLT-soittolista
Name[fr]=Liste de lecture « MLT »
Name[ga]=Seinmliosta MLT
Name[gl]=Lista de reprodución MLT
Name[hu]=MLT lejátszólista
Name[id]=Playlist MLT
Name[it]=Lista di riproduzione MLT
Name[ja]=MLT プレイリスト
Name[km]=បញ្ជី​ចាក់ MLT
Name[ko]=MLT 재생 목록
Name[lt]=MTL grojaraštis
Name[lv]=MLT repertuārs
Name[mr]=MLT प्लेलिस्ट
Name[nb]=MLT-spilleliste
Name[nl]=MLT-afspeellijst
Name[nn]=MLT-speleliste
Name[pl]=Lista odtwarzania MLT
Name[pt]=Lista de Reprodução MLT
Name[pt_BR]=Lista de Reprodução MLT
Name[ro]=Listă de redare MLT
Name[ru]=Список воспроизведения MLT
Name[sk]=Zoznam skladieb MLT
Name[sl]=Seznam predvajanja MLT
Name[sv]=MLT-spellista
Name[tr]=MLT Çalma Listesi
Name[uk]=Список відтворення MLT
Name[x-test]=xxMLT Playlistxx
Name[zh_CN]=MLT 播放列表
Name[zh_TW]=MLT 播放清單
X-KDE-ServiceTypes=ThumbCreator
MimeType=video/mlt-playlist;application/x-kdenlive;application/x-kdenlivetitle;application/vnd.mlt+xml;
X-KDE-Library=mltpreview
CacheThumbnail=true





