[Desktop Entry]
Type=Service
Name=MLT Playlist
X-KDE-ServiceTypes=ThumbCreator
MimeType=video/mlt-playlist;application/x-kdenlive;application/x-kdenlivetitle;
X-KDE-Library=mltpreview
CacheThumbnail=true





