[Desktop Entry]
Type=Service
Name=MLT Playlist
Name[cs]=Seznam skladeb MLT
Name[de]=MLT-Wiedergabeliste
Name[nl]=MLT-afspeellijst
Name[pt]=Lista de Reprodução MLT
Name[sv]=MLT-spellista
Name[uk]=Список відтворення MLT
Name[x-test]=xxMLT Playlistxx
X-KDE-ServiceTypes=ThumbCreator
CacheThumbnail=true
IgnoreMaximumSize=true
MimeType=video/mlt-playlist;application/x-kdenlive;application/x-kdenlivetitle;
X-KDE-Library=westleypreview
