[Desktop Entry]
Type=Service
Name=MLT Playlist
X-KDE-ServiceTypes=ThumbCreator
CacheThumbnail=true
IgnoreMaximumSize=true
MimeType=video/mlt-playlist;application/x-kdenlive;application/x-kdenlivetitle;
X-KDE-Library=westleypreview
