[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Westley Playlists
X-KDE-ServiceTypes=ThumbCreator
CacheThumbnail=true
IgnoreMaximumSize=true
MimeType=video/mlt-playlist;application/x-kdenlive;
X-KDE-Library=westleypreview
