[Desktop Entry]
Type=Service
ServiceTypes=Kdenlive/Clip
Name=Webvfx Clip
Name[da]=Webvfx-klip
Name[lt]=Webvfx iškarpa
Name[nl]=Webvfx-clip
Name[pt]='Clip' de Webvfx
Name[pt_BR]=Clipe Webvfx
Name[sl]=Posnetek Webvfx
Name[sv]=Webvfx-klipp
Name[tr]=Webvfx Klibi
Name[uk]=Кліп Webvfx
Name[x-test]=xxWebvfx Clipxx
Name[zh_TW]=Webvfx 素材
X-KDE-PluginInfo-Name=kdenlivewebvfxclip
X-KDE-Library=kdenlivewebvfxclip
X-Kdenlive-ProvidedProducers=webvfx
