[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Kdenlive/Parameter
Name=Kdenlive Parameter
Name[cs]=Parametr Kdenlive
Name[da]=Kdenlive-parameter
Name[de]=Kdenlive-Parameter
Name[es]=Parámetro de Kdenlive
Name[fi]=Kdenlive-parametri
Name[fr]=Paramètre Kdenlive
Name[gl]=Parámetro do Kdenlive
Name[hu]=Kdenlive paraméter
Name[lt]=Kdenlive parametras
Name[lv]=Kdenlive parametrs
Name[nb]=Kdenlive-parameter
Name[nl]=Kdenlive-parameter
Name[pt]=Parâmetro do Kdenlive
Name[pt_BR]=Parâmetro do Kdenlive
Name[sk]=Parameter Kdenlive
Name[sl]=Parameter Kdenlive
Name[sv]=Kdenlive-parameter
Name[tr]=Kdenlive Parametresi
Name[uk]=Параметр Kdenlive
Name[x-test]=xxKdenlive Parameterxx
Name[zh_TW]=Kdenlive 參數

[PropertyDef::X-Kdenlive-ParameterType]
Type=QStringList
