[Desktop Entry]
Type=Service
ServiceTypes=Kdenlive/Clip
Name=Image Clip
Name[cs]=Obrázkový klip
Name[da]=Billedeklip
Name[es]=Clip de imagen
Name[fr]=Clip image
Name[gl]=Fragmento de imaxe
Name[hu]=Képklip
Name[lt]=Paveikslėlio iškarpa
Name[lv]=Attēla klips
Name[nl]=Afbeeldingsclip
Name[pt]='Clip' de Imagem
Name[pt_BR]=Clipe de imagem
Name[sk]=Obrazový klip
Name[sl]=Posnetek iz slike
Name[sv]=Bildklipp
Name[tr]=Resim Klibi
Name[uk]=Кліп-зображення
Name[x-test]=xxImage Clipxx
Name[zh_TW]=影像素材
X-KDE-PluginInfo-Name=kdenliveimageclip
X-KDE-Library=kdenliveimageclip
X-Kdenlive-ProvidedProducers=qimage,pixbuf
