<!DOCTYPE kpartgui>
<kpartgui name="kdenlive" version="0.1">
<MenuBar>
  <Menu name="file"><text>&amp;File</text>
  	<Action name="file_new_window"/>
  </Menu>
  <Menu name="edit"><text>&amp;Edit</text>
  	<Action name="delete_selected_clips"/>
	<Action name="razor_selected_clips"/>
	<Action name="razor_all_clips"/>
	<Separator lineSeperator="true"/>
	<Action name="clear_all_snap_markers"/>
	<Action name="clear_snap_markers_from_selected"/>
  </Menu>
  <Menu name="project"><text>&amp;Project</text>
	<Action name="project_add_clip"/>
	<Action name="project_delete_clip"/>
	<Action name="project_clean"/>
	<Action name="project_clip_properties"/>
	<Separator lineSeparator="true"/>
	<Action name="configure_project"/>
  </Menu>
  <Menu name="timeline"><text>&amp;Timeline</text>
	<Action name="timeline_move_tool"/>
	<Action name="timeline_razor_tool"/>
	<Action name="timeline_spacer_tool"/>
	<Action name="timeline_marker_tool"/>
	<Action name="timeline_roll_tool"/>
	<Separator lineSeperator="true"/>
	<Action name="timeline_snap_frame"/>
	<Action name="timeline_snap_border"/>
	<Action name="timeline_snap_marker"/>
  </Menu>
  <Menu name="Render"><text>&amp;Render</text>
  	<Action name="render_export_timeline"/>
  </Menu>
  <Menu name="Layout"><text>&amp;Layout</text>
  	<Action name="load_layout_1"/>
  	<Action name="load_layout_2"/>
  	<Action name="load_layout_3"/>
  	<Action name="load_layout_4"/>
	<Separator lineSeperator="true"/>
  	<Action name="save_layout_1"/>
  	<Action name="save_layout_2"/>
  	<Action name="save_layout_3"/>
  	<Action name="save_layout_4"/>
  </Menu>
  <Menu name="Windows"><text>&amp;Windows</text>
	  <Action name="toggle_clip_monitor"/>
	  <Action name="toggle_workspace_monitor"/>
	  <Action name="toggle_effect_list"/>
	  <Action name="toggle_effect_stack"/>
	  <Action name="toggle_project_list"/>
  </Menu>
</MenuBar>

<Menu name="projectlist_create">
	<Action name="project_add_clip"/>
	<Action name="project_add_color_clip"/>
	<Action name="project_add_image_clip"/>
	<Action name="project_add_text_clip"/>
</Menu>

<Menu name="projectlist_context">
	<Action name="project_add_clip"/>
	<Menu name="create_clips"><text>Create Clip</text>
		<Action name="project_add_color_clip"/>
		<Action name="project_add_image_clip"/>
		<Action name="project_add_text_clip"/>
	</Menu>
	<Action name="project_delete_clip"/>
	<Action name="project_clean"/>
	<Action name="project_clip_properties"/>
</Menu>

<Menu name="timeline_context">
	<Menu name="tools"><text>Tools</text>
		<Action name="timeline_move_tool"/>
		<Action name="timeline_razor_tool"/>
		<Action name="timeline_spacer_tool"/>
		<Action name="timeline_marker_tool"/>
		<Action name="timeline_roll_tool"/>
	</Menu>
	<Menu name="snap"><text>Snap To</text>
		<Action name="timeline_snap_frame"/>
		<Action name="timeline_snap_border"/>
		<Action name="timeline_snap_marker"/>
	</Menu>
	<Separator lineSeparator="true"/>
	<Action name="razor_all_clips"/>
	<Separator lineSeparator="true"/>
	<Action name="clear_all_snap_markers"/>
</Menu>

<Menu name="timeline_clip_context">
  <Action name="add_transition"/>
  <Action name="del_transition"/>
  <Separator lineSeparator="true"/>
  <Menu name="tools"><text>Tools</text>
    <Action name="timeline_move_tool"/>
    <Action name="timeline_razor_tool"/>
    <Action name="timeline_spacer_tool"/>
    <Action name="timeline_marker_tool"/>
    <Action name="timeline_roll_tool"/>
  </Menu>
  <Menu name="snap"><text>Snap To</text>
    <Action name="timeline_snap_frame"/>
    <Action name="timeline_snap_border"/>
    <Action name="timeline_snap_marker"/>
  </Menu>
  <Separator lineSeparator="true"/>
  <Action name="razor_selected_clips"/>
  <Action name="razor_all_clips"/>
  <Separator lineSeparator="true"/>
  <Action name="clear_all_snap_markers"/>
  <Action name="clear_snap_markers_from_selected"/>
  <Separator lineSeparator="true"/>
  <Action name="delete_selected_clips"/>
</Menu>

<Menu name="monitor_context">
	<Action name="project_add_clip"/>
	<Action name="toggle_snap_marker"/>
</Menu>

<ToolBar name="timeline toolbar" fullWidth="false" newline="false">
	<text>Timeline Toolbar</text>
	<Action name="timeline_move_tool"/>
	<Action name="timeline_razor_tool"/>
	<Action name="timeline_spacer_tool"/>
	<Action name="timeline_marker_tool"/>
	<Action name="timeline_roll_tool"/>
	<Separator lineSeperator="true"/>
	<Action name="timeline_snap_frame"/>
	<Action name="timeline_snap_border"/>
	<Action name="timeline_snap_marker"/>
	<Seperator lineSeperator="true"/>
	<Action name="render_export_timeline"/>
</ToolBar>

<ToolBar name="layout toolbar" fullWidth="false" newline="false">
	<text>Layout Toolbar</text>
	<Action name="load_layout_1"/>
	<Action name="load_layout_2"/>
	<Action name="load_layout_3"/>
	<Action name="load_layout_4"/>
</ToolBar>
</kpartgui>
