# KDE Config File  
[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kdenlive -caption "%c" %i %m  
Icon=kdenlive.png
DocPath=kdenlive/index.html
Comment=
Comment[de]=
Terminal=0
Name=Kdenlive
Name[de]=Kdenlive
