<!DOCTYPE kpartgui>
<kpartgui name="kdenlive" version="22">
<MenuBar>
  <Menu name="file">
        <Action name="export_current_frame"/>
  </Menu>
  <Menu name="edit">
	<Action name="view_selected_clip"/>
  	<Action name="delete_selected_clips"/>
	<Action name="razor_selected_clips"/>
	<Action name="razor_all_clips"/>
	<Action name="resize_start"/>
	<Action name="resize_end"/>
	<Action name="move_current"/>
	<Action name="move_up"/>
	<Action name="move_down"/>
	<Action name="select_current"/>	
	<Action name="clip_auto_select"/>	
	<Separator lineSeperator="true"/>
	<Action name="delete_space"/>
	<Separator lineSeperator="true"/>
	<Action name="next_track"/>
	<Action name="prev_track"/>
	<Separator lineSeperator="true"/>	
	<Action name="clear_all_snap_markers"/>
	<Action name="clear_snap_markers_from_selected"/>
  </Menu>
  <Menu name="view">
      <Action name="restore_zoom"/>
      <Separator lineSeparator="true"/>
      <Action name="show_markers"/>
  </Menu>
  
  <Menu name="project"><text>&amp;Project</text>
	<Action name="project_add_clip"/>
	<Action name="project_add_color_clip"/>
	<Action name="project_add_image_clip"/>
	<Action name="project_add_slideshow_clip"/>
	<Action name="project_add_text_clip"/>
	<Action name="project_delete_clip"/>
	<Action name="project_clean"/>
        <Action name="edit_clip"/>
	<Separator lineSeparator="true"/>
	<Action name="configure_project"/>
  </Menu>
  <Menu name="timeline"><text>&amp;Timeline</text>
	<Action name="timeline_move_tool"/>
	<Action name="timeline_razor_tool"/>
	<Action name="timeline_spacer_tool"/>
	<Action name="timeline_marker_tool"/>
	<Action name="timeline_roll_tool"/>
	<Separator lineSeperator="true"/>
	<Menu name="goto"><text>Go To</text>
		<Action name="timeline_go_start"/>
		<Action name="timeline_go_end"/>
		<Action name="forward_snap"/>
		<Action name="backward_snap"/>
		<Action name="forward_second"/>
		<Action name="backward_second"/>
		<Action name="forward_frame"/>
		<Action name="backward_frame"/>
	</Menu>
	<Separator lineSeperator="true"/>	
	<Action name="timeline_add_guide"/>
	<Action name="timeline_edit_guide"/>
	<Action name="timeline_delete_guide"/>
	<Separator lineSeperator="true"/>	
	<Action name="save_zone"/>
	<Action name="virtual_zone"/>
	<Separator lineSeperator="true"/>	
	<Action name="timeline_add_track"/>	
	<Action name="timeline_delete_track"/>
	<Separator lineSeperator="true"/>
	<Action name="timeline_snap_frame"/>
	<Action name="timeline_snap_border"/>
	<Action name="timeline_snap_marker"/>
  </Menu>
  
  <Menu name="Monitor"><text>Monitor</text>
	  <Action name="toggle_play_selection"/>
	  <Action name="play_loop"/>
	  <Action name="play_clip"/>
	  <Action name="toggle_forwards"/>
	  <Action name="toggle_backwards"/>
	  <Action name="stop_clip"/>
	  <Separator lineSeperator="true"/>
	  <Menu name="preview_quality"><text>Preview Quality</text>
		  <Action name="low_quality"/>
		  <Action name="medium_quality"/>
		  <Action name="best_quality"/>
	</Menu>
  </Menu>  
  
  <Menu name="Render"><text>Render</text>
  	<Action name="render_export_timeline"/>
	<Action name="render_dvd"/>
  </Menu>
  
  <Menu name="Layout"><text>Layout</text>
  	<Action name="load_layout_1"/>
  	<Action name="load_layout_2"/>
  	<Action name="load_layout_3"/>
  	<Action name="load_layout_4"/>
	<Separator lineSeperator="true"/>
  	<Action name="save_layout_1"/>
  	<Action name="save_layout_2"/>
  	<Action name="save_layout_3"/>
  	<Action name="save_layout_4"/>
  </Menu>
  <Menu name="Windows"><text>Windows</text>
	  <Action name="toggle_clip_monitor"/>
	  <Action name="toggle_workspace_monitor"/>
	  <Action name="toggle_capture_monitor"/>
	  <Action name="toggle_effect_list"/>
	  <Action name="toggle_effect_stack"/>
	  <Action name="toggle_project_list"/>
          <Action name="toggle_transitions"/>
	  <Separator lineSeperator="true"/>
	  <Action name="focus_clip_monitor"/>
	  <Action name="focus_workspace_monitor"/>
	  <Action name="focus_capture_monitor"/>
	  <Action name="focus_effect_list"/>
	  <Action name="focus_effect_stack"/>
	  <Action name="focus_project_list"/>
	  <Action name="focus_transitions"/>
  </Menu>
</MenuBar>

<Menu name="projectlist_create">
	<Action name="project_add_clip"/>
	<Action name="project_add_color_clip"/>
	<Action name="project_add_image_clip"/>
	<Action name="project_add_slideshow_clip"/>
	<Action name="project_add_text_clip"/>
</Menu>

<Menu name="projectlist_context">
	<Action name="create_folder"/>
	<Action name="project_add_clip"/>
	<Menu name="create_clips"><text>Create Clip</text>
		<Action name="project_add_color_clip"/>
		<Action name="project_add_image_clip"/>
		<Action name="project_add_slideshow_clip"/>
		<Action name="project_add_text_clip"/>
	</Menu>
	<Separator lineSeparator="true"/>
	<Action name="project_clean"/>
</Menu>

<Menu name="projectlist_context_clip">
	<Action name="create_folder"/>
	<Action name="project_add_clip"/>
	<Menu name="create_clips"><text>Create Clip</text>
		<Action name="project_add_color_clip"/>
		<Action name="project_add_image_clip"/>
		<Action name="project_add_slideshow_clip"/>
		<Action name="project_add_text_clip"/>
	</Menu>
	<Action name="project_delete_clip"/>
        <Action name="edit_clip"/>
	<Action name="project_extract_audio"/>
        <Separator lineSeparator="true"/>
        <Action name="project_clean"/>
</Menu>

<Menu name="projectlist_context_text">
	<Action name="create_folder"/>
	<Action name="project_add_clip"/>
	<Menu name="create_clips"><text>Create Clip</text>
		<Action name="project_add_color_clip"/>
		<Action name="project_add_image_clip"/>
		<Action name="project_add_slideshow_clip"/>
		<Action name="project_add_text_clip"/>
	</Menu>
	<Action name="project_duplicate_text_clip"/>
	<Action name="project_delete_clip"/>
        <Action name="edit_clip"/>
        <Separator lineSeparator="true"/>
        <Action name="project_clean"/>
</Menu>

<Menu name="projectlist_context_virtual">
	<Action name="create_folder"/>
	<Action name="project_add_clip"/>
	<Menu name="create_clips"><text>Create Clip</text>
		<Action name="project_add_color_clip"/>
		<Action name="project_add_image_clip"/>
		<Action name="project_add_slideshow_clip"/>
		<Action name="project_add_text_clip"/>
	</Menu>
	<Action name="show_virtual_zone"/>
	<Action name="project_delete_clip"/>
        <Action name="edit_clip"/>
        <Separator lineSeparator="true"/>
        <Action name="project_clean"/>
</Menu>

<Menu name="projectlist_context_audio">
	<Action name="create_folder"/>
	<Action name="project_add_clip"/>
	<Menu name="create_clips"><text>Create Clip</text>
		<Action name="project_add_color_clip"/>
		<Action name="project_add_image_clip"/>
		<Action name="project_add_slideshow_clip"/>
		<Action name="project_add_text_clip"/>
	</Menu>
	<Action name="external_audio"/>
	<Action name="project_delete_clip"/>
        <Action name="edit_clip"/>
        <Separator lineSeparator="true"/>
        <Action name="project_clean"/>
</Menu>

<Menu name="projectlist_context_folder">
	<Action name="create_folder"/>	
	<Action name="rename_folder"/>
	<Action name="project_add_clip"/>
	<Menu name="create_clips"><text>Create Clip</text>
		<Action name="project_add_color_clip"/>
		<Action name="project_add_image_clip"/>
		<Action name="project_add_slideshow_clip"/>
		<Action name="project_add_text_clip"/>
	</Menu>
	<Action name="delete_folder"/>
	<Separator lineSeparator="true"/>
	<Action name="project_clean"/>
</Menu>

<Menu name="ruler_context">
		<Action name="timeline_add_guide"/>
		<Action name="timeline_edit_guide"/>
		<Action name="timeline_delete_guide"/>
		<Action name="save_zone"/>
		<Action name="render_zone"/>
		<Action name="virtual_zone"/>
  		<Menu name="go_to"><text>Go To</text>
  		</Menu>		
</Menu>

<Menu name="timeline_header_context">
	<Menu name="tools"><text>Tools</text>
		<Action name="timeline_move_tool"/>
		<Action name="timeline_razor_tool"/>
		<Action name="timeline_spacer_tool"/>
		<Action name="timeline_marker_tool"/>
		<Action name="timeline_roll_tool"/>
	</Menu>
	<Menu name="snap"><text>Snap To</text>
		<Action name="timeline_snap_frame"/>
		<Action name="timeline_snap_border"/>
		<Action name="timeline_snap_marker"/>
	</Menu>
	<Menu name="tracks"><text>Tracks</text>
		<Action name="timeline_add_track"/>
		<Action name="timeline_delete_track"/>
	</Menu>
</Menu>

<Menu name="timeline_context">
	<Action name="edit_paste"/>
	<Separator lineSeparator="true"/>
	<Menu name="tools"><text>Tools</text>
		<Action name="timeline_move_tool"/>
		<Action name="timeline_razor_tool"/>
		<Action name="timeline_spacer_tool"/>
		<Action name="timeline_marker_tool"/>
		<Action name="timeline_roll_tool"/>
	</Menu>
	<Menu name="snap"><text>Snap To</text>
		<Action name="timeline_snap_frame"/>
		<Action name="timeline_snap_border"/>
		<Action name="timeline_snap_marker"/>
	</Menu>
	<Separator lineSeparator="true"/>
	<Action name="delete_space"/>
	<Action name="razor_all_clips"/>
	<Separator lineSeparator="true"/>
        <Action name="export_current_frame"/>
	<Separator lineSeparator="true"/>
        <Action name="clear_all_snap_markers"/>
</Menu>

<Menu name="timeline_clip_context">
  <Menu name="add_transition_menu"><text>Add Transition</text>
  </Menu>
  <Action name="del_transition"/>
  <Separator lineSeparator="true"/>
  <Menu name="video_effect"><text>Add Video Effect</text>
  </Menu>
  <Menu name="audio_effect"><text>Add Audio Effect</text>
  </Menu>
  <Menu name="remove_effect"><text>Delete Effect</text>
  </Menu>
  <Menu name="marker_menu"><text>Marker</text>
      <Action name="add_marker"/>
      <Action name="edit_marker"/>
      <Action name="delete_marker"/>
      <Action name="clear_snap_markers_from_selected"/>
  </Menu>
  <Separator lineSeparator="true"/>
  <Action name="edit_copy"/>
  <Action name="edit_cut"/>
  <Action name="delete_selected_clips"/>
  <Action name="razor_selected_clips"/>
  <Separator lineSeparator="true"/>
  <Action name="split_audio"/>
  <Action name="extract_audio"/>
  <Action name="save_subclip"/>
  <Separator lineSeparator="true"/>
  <Action name="project_edit_clip"/>
</Menu>

<Menu name="monitor_context">
	<Action name="forward_snap"/>
	<Action name="backward_snap"/>
	<Action name="toggle_snap_marker"/>
	<Action name="toggle_osd"/>
	<Separator lineSeperator="true"/>
	<Action name="export_current_frame"/>
	<Separator lineSeperator="true"/>
	<Menu name="preview_quality"><text>Preview Quality</text>
		<Action name="low_quality"/>
		<Action name="medium_quality"/>
		<Action name="best_quality"/>
	</Menu>
</Menu>

<ToolBar name="timeline toolbar" fullWidth="false" newline="false">
	<text>Timeline Toolbar</text>
	<Action name="timeline_move_tool"/>
	<Action name="timeline_razor_tool"/>
	<Action name="timeline_spacer_tool"/>
	<Action name="timeline_marker_tool"/>
	<Action name="timeline_roll_tool"/>
	<Separator lineSeperator="true"/>
	<Action name="timeline_snap_frame"/>
	<Action name="timeline_snap_border"/>
	<Action name="timeline_snap_marker"/>
	<Seperator lineSeperator="true"/>
	<Action name="render_export_timeline"/>
</ToolBar>

<ToolBar name="layout toolbar" fullWidth="false" newline="false">
	<text>Layout Toolbar</text>
	<Action name="load_layout_1"/>
	<Action name="load_layout_2"/>
	<Action name="load_layout_3"/>
	<Action name="load_layout_4"/>
</ToolBar>
</kpartgui>
