<!DOCTYPE kpartgui>
<kpartgui name="kdenlive" version="0.1">
<MenuBar>
  <Menu name="file"><text>&amp;File</text>
  	<Action name="file_new_window"/>
  </Menu>
  <Menu name="edit"><text>&amp;Edit</text>
  	<Action name="delete_selected_clips"/>
  </Menu>  
  <Menu name="project"><text>&amp;Project</text>
    <Action name="project_add_clip"/>
    <Action name="project_delete_clip"/>
    <Action name="project_clean"/>
  </Menu>
  <Menu name="timeline"><text>&amp;Timeline</text>
    <Action name="timeline_move_tool"/>
    <Action name="timeline_razor_tool"/>
    <Action name="timeline_spacer_tool"/>
    <Separator lineSeperator="true"/>
    <Action name="timeline_snap_frame"/>
    <Action name="timeline_snap_border"/>
  </Menu>
  <Menu name="Render"><text>&amp;Render</text>
  	<Action name="render_export_timeline"/>
  </Menu>
  <Menu name="Layout"><text>&amp;Layout</text>
  	<Action name="load_layout_1"/>
  	<Action name="load_layout_2"/>
  	<Action name="load_layout_3"/>
  	<Action name="load_layout_4"/>
    <Separator lineSeperator="true"/>   
  	<Action name="save_layout_1"/>
  	<Action name="save_layout_2"/>
  	<Action name="save_layout_3"/>
  	<Action name="save_layout_4"/>
  </Menu>  
</MenuBar>

<Menu name="projectlist_context">
  <Action name="project_add_clip"/>
  <Action name="project_delete_clip"/>
  <Action name="project_clean"/>
</Menu>

<ToolBar name="timeline toolbar" fullWidth="false" newline="false">
	<text>Timeline Toolbar</text>
	<Action name="timeline_move_tool"/>
  <Action name="timeline_razor_tool"/>
  <Action name="timeline_spacer_tool"/>
  <Separator lineSeperator="true"/>
  <Action name="timeline_snap_frame"/>
  <Action name="timeline_snap_border"/>
  <Seperator lineSeperator="true"/>
  <Action name="render_export_timeline"/>
</ToolBar>
</kpartgui>