[Desktop Entry]
Type=Service
ServiceTypes=Kdenlive/Clip
Name=Generic Clip
Name[cs]=Obecný klip
Name[da]=Generisk klip
Name[es]=Clip genérico
Name[fr]=Clip générique
Name[hu]=Általános klip
Name[lt]=Bendra iškarpa
Name[nl]=Algemene clip
Name[pt]='Clip' Genérico
Name[pt_BR]=Clipe genérico
Name[sk]=Všeobecný klip
Name[sl]=Splošen video posnetek
Name[sv]=Generellt klipp
Name[tr]=Genel Klip
Name[uk]=Типовий кліп
Name[x-test]=xxGeneric Clipxx
Name[zh_TW]=一般素材
X-KDE-PluginInfo-Name=kdenlivegenericclip
X-KDE-Library=kdenlivegenericclip
X-Kdenlive-ProvidedProducers=generic
