[Desktop Entry]
Type=Service
ServiceTypes=Kdenlive/Parameter
Name=Boolean Parameter
Name[nl]=Booleaanse parameter
Name[pt]=Parâmetro Booleano
Name[pt_BR]=Parâmetro booleano
Name[sl]=Logični parameter
Name[sv]=Boolesk parameter
Name[uk]=Булевий параметр
Name[x-test]=xxBoolean Parameterxx
X-KDE-PluginInfo-Name=kdenlivebooleanparameter
X-KDE-Library=kdenlivebooleanparameter
X-Kdenlive-ParameterType=bool
