[Desktop Entry]
Type=Service
ServiceTypes=Kdenlive/Parameter
Name=Boolean Parameter
Name[da]=Boolesk parameter
Name[de]=Boolscher Parameter
Name[hu]=Logikai paraméter
Name[nl]=Booleaanse parameter
Name[pt]=Parâmetro Booleano
Name[pt_BR]=Parâmetro booleano
Name[sk]=Logický parameter
Name[sl]=Logični parameter
Name[sv]=Boolesk parameter
Name[tr]=Mantıksal Parametre
Name[uk]=Булевий параметр
Name[x-test]=xxBoolean Parameterxx
Name[zh_TW]=布林值參數
X-KDE-PluginInfo-Name=kdenlivebooleanparameter
X-KDE-Library=kdenlivebooleanparameter
X-Kdenlive-ParameterType=bool
