[Desktop Entry]
Type=Service
ServiceTypes=Kdenlive/Parameter
Name=Fixed Parameter
Name[da]=Fast parameter
Name[es]=Parámetro de precisión fija
Name[fr]=Paramètre fixe
Name[hu]=Rögzített paraméter
Name[lv]=Fiksētais parametrs
Name[nl]=Vaste parameter
Name[pt]=Parâmetro de Vírgula Fixa
Name[pt_BR]=Parâmetro de vírgula fixa
Name[sk]=Fixný parameter
Name[sl]=Nespremenljiv parameter
Name[sv]=Fast parameter
Name[tr]=Sabit Parametre
Name[uk]=Фіксований параметр
Name[x-test]=xxFixed Parameterxx
Name[zh_TW]=固定參數
X-KDE-PluginInfo-Name=kdenlivefixedparameter
X-KDE-Library=kdenlivefixedparameter
X-Kdenlive-ParameterType=fixed
