[Desktop Entry]
Type=Service
ServiceTypes=Kdenlive/Parameter
Name=Fixed Parameter
Name[da]=Fast parameter
Name[nl]=Vaste parameter
Name[pt]=Parâmetro de Vírgula Fixa
Name[pt_BR]=Parâmetro de vírgula fixa
Name[sl]=Nespremenljiv parameter
Name[sv]=Fast parameter
Name[uk]=Фіксований параметр
Name[x-test]=xxFixed Parameterxx
X-KDE-PluginInfo-Name=kdenlivefixedparameter
X-KDE-Library=kdenlivefixedparameter
X-Kdenlive-ParameterType=fixed
