[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Kdenlive/Clip
Name=Kdenlive Clip
Name[cs]=Klip Kdenlive
Name[da]=Kdenlive-klip
Name[es]=Clip de Kdenlive
Name[fr]=Clip Kdenlive
Name[gl]=Fragmento do Kdenlive
Name[hu]=Kdenlive klip
Name[lt]=Kdenlive iškarpa
Name[lv]=Kdenlive klips
Name[nl]=Kdenlive-clip
Name[pt]='Clip' do Kdenlive
Name[pt_BR]=Clipe do Kdenlive
Name[sk]=Klip Kdenlive
Name[sl]=Posnetek Kdenlive
Name[sv]=Kdenlive-klipp
Name[tr]=Kdenlive Klibi
Name[uk]=Кліп Kdenlive
Name[x-test]=xxKdenlive Clipxx
Name[zh_TW]=Kdenlive 素材

[PropertyDef::X-Kdenlive-ProvidedProducers]
Type=QStringList
