# KDE Config File
[Desktop Entry]
Name=Kdenlive
Name[ca]=Kdenlive
Name[cs]=Kdenlive
Name[en_GB]=Kdenlive
Name[fi]=Kdenlive
Name[fr]=Kdenlive
Name[it]=Kdenlive
Name[nb]=Kdenlive
Name[nl]=Kdenlive
Name[pt]=Kdenlive
Name[pt_BR]=Kdenlive
Name[sk]=Kdenlive
Name[sv]=Kdenlive
Name[uk]=Kdenlive
Name[x-test]=xxKdenlivexx
GenericName=Video Editor
GenericName[ca]=Editor de vídeo
GenericName[cs]=Editor videí
GenericName[en_GB]=Video Editor
GenericName[fi]=Videomuokkain
GenericName[fr]=Éditeur vidéo
GenericName[it]=Editor video
GenericName[nb]=Videoredigeringsprogram
GenericName[nl]=Video-bewerker
GenericName[pt]=Editor de Vídeo
GenericName[pt_BR]=Editor de Vídeo
GenericName[sk]=Editor videa
GenericName[sv]=Videoeditor
GenericName[uk]=Відеоредактор
GenericName[x-test]=xxVideo Editorxx
Comment=Nonlinear video editor for KDE
Comment[ca]=Editor de vídeo no lineal per al KDE
Comment[cs]=Nelineární editor videí pro KDE
Comment[en_GB]=Nonlinear video editor for KDE
Comment[fi]=Epälineaarinen videomuokkain KDE:lle
Comment[fr]=Éditeur vidéo non linéaire pour KDE
Comment[it]=Editor di video non lineare per KDE
Comment[nb]=Videoredigeringsprogram for KDE med dataklipping
Comment[nl]=Niet-lineaire video-bewerker voor KDE
Comment[pt]=Editor de vídeo não-linear para o KDE
Comment[pt_BR]=Editor de vídeo não-linear para o KDE
Comment[sk]=Nelineárny editor videa pre KDE
Comment[sv]=Icke-linjär videoeditor för KDE
Comment[uk]=Нелінійний редактор відео для KDE
Comment[x-test]=xxNonlinear video editor for KDExx
Type=Application
Exec=kdenlive %U
Icon=kdenlive
X-DocPath=kdenlive/index.html
X-DocPath[cs]=http://cs.wikibooks.org/wiki/Kdenlive
Terminal=false
MimeType=application/x-kdenlive;
Categories=Qt;KDE;AudioVideo;AudioVideoEditing;
