# KDE Config File
[Desktop Entry]
Name=Kdenlive
Name[ca]=Kdenlive
Name[cs]=Kdenlive
Name[de]=Kdenlive
Name[en_GB]=Kdenlive
Name[es]=Kdenlive
Name[fi]=Kdenlive
Name[fr]=Kdenlive
Name[it]=Kdenlive
Name[nb]=Kdenlive
Name[nl]=Kdenlive
Name[pl]=Kdenlive
Name[pt]=Kdenlive
Name[pt_BR]=Kdenlive
Name[sk]=Kdenlive
Name[sl]=Kdenlive
Name[sv]=Kdenlive
Name[tr]=Kdenlive
Name[uk]=Kdenlive
Name[x-test]=xxKdenlivexx
Name[zh_CN]=Kdenlive
GenericName=Video Editor
GenericName[ar]=محرّر فيديوهات
GenericName[ca]=Editor de vídeo
GenericName[cs]=Editor videí
GenericName[de]=Video-Editor
GenericName[en_GB]=Video Editor
GenericName[es]=Editor de video
GenericName[fi]=Videomuokkain
GenericName[fr]=Éditeur vidéo
GenericName[it]=Editor video
GenericName[nb]=Videoredigeringsprogram
GenericName[nl]=Video-bewerker
GenericName[pl]=Edytor wideo
GenericName[pt]=Editor de Vídeo
GenericName[pt_BR]=Editor de Vídeo
GenericName[sk]=Editor videa
GenericName[sl]=Urejevalnik videa
GenericName[sv]=Videoeditor
GenericName[tr]=Video Düzenleyici
GenericName[uk]=Відеоредактор
GenericName[x-test]=xxVideo Editorxx
GenericName[zh_CN]=视频编辑器
Comment=Nonlinear video editor for KDE
Comment[ar]=محرّر فيديوهات غير خطّيّ لكدي
Comment[ca]=Editor de vídeo no lineal per al KDE
Comment[cs]=Nelineární editor videí pro KDE
Comment[de]=Nichtlinearer Video-Editor für KDE
Comment[en_GB]=Nonlinear video editor for KDE
Comment[es]=Editor no lineal de video para KDE
Comment[fi]=Epälineaarinen videomuokkain KDE:lle
Comment[fr]=Éditeur vidéo non linéaire pour KDE
Comment[it]=Editor di video non lineare per KDE
Comment[nb]=Videoredigeringsprogram for KDE med dataklipping
Comment[nl]=Niet-lineaire video-bewerker voor KDE
Comment[pl]=Nieliniowy edytor wideo dla KDE
Comment[pt]=Editor de vídeo não-linear para o KDE
Comment[pt_BR]=Editor de vídeo não-linear para o KDE
Comment[sk]=Nelineárny editor videa pre KDE
Comment[sl]=Ne-linearni urejevalnik videa za KDE
Comment[sv]=Icke-linjär videoeditor för KDE
Comment[tr]=KDE için doğrusal olmayan video düzenleyici
Comment[uk]=Нелінійний редактор відео для KDE
Comment[x-test]=xxNonlinear video editor for KDExx
Comment[zh_CN]=KDE 的非线性视频编辑器
Type=Application
Exec=kdenlive %U
Icon=kdenlive
X-DocPath=kdenlive/index.html
X-DocPath[cs]=http://cs.wikibooks.org/wiki/Kdenlive
Terminal=false
MimeType=application/x-kdenlive;
Categories=Qt;KDE;AudioVideo;AudioVideoEditing;
