# KDE Config File
[Desktop Entry]
Name=Kdenlive
Name[ar]=كِيدِينلايف
Name[ast]=Kdenlive
Name[az]=Kdenlive
Name[bs]=Kdenlive
Name[ca]=Kdenlive
Name[ca@valencia]=Kdenlive
Name[cs]=Kdenlive
Name[da]=Kdenlive
Name[de]=Kdenlive
Name[el]=Kdenlive
Name[en_GB]=Kdenlive
Name[eo]=Kdenlive
Name[es]=Kdenlive
Name[et]=Kdenlive
Name[eu]=Kdenlive
Name[fi]=Kdenlive
Name[fr]=Kdenlive
Name[ga]=Kdenlive
Name[gl]=Kdenlive
Name[he]=Kdenlive
Name[hu]=Kdenlive
Name[id]=Kdenlive
Name[it]=Kdenlive
Name[ja]=Kdenlive
Name[ka]=Kdenlive
Name[km]=Kdenlive
Name[ko]=Kdenlive
Name[lt]=Kdenlive
Name[lv]=Kdenlive
Name[mr]=के-डि-एनलाइव्ह
Name[nb]=Kdenlive
Name[nds]=Kdenlive
Name[nl]=Kdenlive
Name[nn]=Kdenlive
Name[pl]=Kdenlive
Name[pt]=Kdenlive
Name[pt_BR]=Kdenlive
Name[ro]=Kdenlive
Name[ru]=Kdenlive
Name[sk]=Kdenlive
Name[sl]=Kdenlive
Name[sv]=Kdenlive
Name[tok]=ilo Kdenlive
Name[tr]=Kdenlive
Name[ug]=Kdenlive
Name[uk]=Kdenlive
Name[x-test]=xxKdenlivexx
Name[zh_CN]=Kdenlive
Name[zh_TW]=Kdenlive
GenericName=Video Editor
GenericName[ar]=محرّر فيديوهات
GenericName[az]=Video redaktor
GenericName[bs]=Video uređivač
GenericName[ca]=Editor de vídeo
GenericName[ca@valencia]=Editor de vídeo
GenericName[cs]=Editor videa
GenericName[da]=Videoredigering
GenericName[de]=Video-Editor
GenericName[el]=Επεξεργαστής βίντεο
GenericName[en_GB]=Video Editor
GenericName[eo]=Video Editor
GenericName[es]=Editor de video
GenericName[et]=Videoredaktor
GenericName[eu]=Bideo editorea
GenericName[fi]=Videomuokkain
GenericName[fr]=Éditeur vidéo
GenericName[ga]=Eagarthóir Físe
GenericName[gl]=Editor de vídeo
GenericName[he]=עורך וידאו
GenericName[hu]=Videoszerkesztő
GenericName[id]=Pengedit Video
GenericName[it]=Editor video
GenericName[ja]=ビデオエディタ
GenericName[ka]=ვიდეო რედაქტორი
GenericName[km]=កម្មវិធី​កែសម្រួល​វីដេអូ
GenericName[ko]=동영상 편집기
GenericName[lt]=Video redaktorius
GenericName[lv]=Video redaktors
GenericName[mr]=व्हिडीओ संपादक
GenericName[nb]=Videoredigeringsprogram
GenericName[nl]=Video-bewerker
GenericName[nn]=Videoredigering
GenericName[pl]=Edytor wideo
GenericName[pt]=Editor de Vídeo
GenericName[pt_BR]=Editor de Vídeo
GenericName[ro]=Redactor de imagini
GenericName[ru]=Видеоредактор
GenericName[sk]=Editor videa
GenericName[sl]=Program za videomontažo
GenericName[sv]=Videoeditor
GenericName[tok]=ilo pi ante sitelen
GenericName[tr]=Video Düzenleyicisi
GenericName[uk]=Відеоредактор
GenericName[x-test]=xxVideo Editorxx
GenericName[zh_CN]=视频编辑工具
GenericName[zh_TW]=影片編輯器
Comment=Nonlinear video editor by KDE
Comment[ar]=محرّر فيديوهات غير خطّيّ من كِيدِي
Comment[az]=KDE tərəfindən qeyri-xətti redaktor
Comment[ca]=Editor de vídeo no lineal, creat per la comunitat KDE
Comment[ca@valencia]=Editor de vídeo no lineal, creat per la comunitat KDE
Comment[cs]=Nelineární editor videa od KDE
Comment[da]=Ikke-lineært videoredigeringsprogram af KDE
Comment[de]=Nichtlinearer Video-Editor von KDE
Comment[el]=Μη γραμμικός επεξεργαστής βίντεο από το KDE
Comment[en_GB]=Non-linear video editor by KDE
Comment[eo]=Nelinia videoredaktilo de KDE
Comment[es]=Editor no lineal de video de KDE
Comment[et]=KDE mittelineaarne videoredaktor
Comment[eu]=KDEren bideo editore ez-lineala
Comment[fi]=KDE:n epälineaarinen videomuokkain
Comment[fr]=Éditeur vidéo non linéaire par KDE
Comment[gl]=Editor de vídeo non lineal por KDE
Comment[he]=עורך וידאו א־לינארי מבית KDE
Comment[hu]=Nemlineáris videoszerkesztő a KDE-től
Comment[id]=Pengedit video nonlinier oleh KDE
Comment[it]=Editor di video non lineare di KDE
Comment[ja]=KDE のノンリニアビデオエディタ
Comment[ka]=KDE-ის არაწრფივი ვიდეო რედაქტორი
Comment[ko]=KDE의 비선형 동영상 편집기
Comment[nl]=Niet-lineaire video-bewerker door KDE
Comment[nn]=Program for ikkje-lineær videoredigering
Comment[pl]=Nieliniowy edytor wideo w ramach KDE
Comment[pt]=Editor de vídeo não-linear do KDE
Comment[pt_BR]=Editor de vídeo não-linear do KDE
Comment[ru]=Нелинейный видеоредактор от KDE
Comment[sk]=Nelineárny editor videa pre KDE
Comment[sl]=Program za nelinearno montažo videa KDE
Comment[sv]=Icke-linjär videoeditor av KDE
Comment[tok]=ilo pi ante sitelen tan kulupu KDE
Comment[tr]=Doğrusal Olmayan Video Düzenleyicisi
Comment[uk]=Нелінійний редактор відео від KDE
Comment[x-test]=xxNonlinear video editor by KDExx
Comment[zh_CN]=KDE 社区开发的非线性视频编辑工具
Comment[zh_TW]=來自 KDE 的非線性影片編輯器
Type=Application
Exec=kdenlive %F
Icon=kdenlive
StartupWMClass=kdenlive
X-DocPath=kdenlive/index.html
MimeType=application/x-kdenlive;
Categories=Qt;KDE;AudioVideo;AudioVideoEditing;
Keywords=editing;video;audio;mlt;kde;
Keywords[ar]=تحرير;فيديو;صوت;كِيدِي;واجهة;مسارات;تعدد;
Keywords[az]=editing;video;audio;mlt;kde;düzəliş;redaktor;
Keywords[ca]=edició;vídeo;àudio;mlt;kde;
Keywords[ca@valencia]=edició;vídeo;àudio;mlt;kde;
Keywords[cs]=úprava;video;zvuk;mlt;kde;
Keywords[da]=redigering;video;lyd;mlt;kde;
Keywords[de]=Editing;Bearbeitung;Schnitt;Videoschnitt;Video;Audio;MLT;
Keywords[el]=επεξεργασία;βίντεο;ήχος;mlt;kde;
Keywords[en_GB]=editing;video;audio;mlt;kde;
Keywords[eo]=redaktado;video;audio;mlt;kde;
Keywords[es]=edición;video;audio;mlt;kde;
Keywords[et]=redigeerimine;muutmine;video;audio;heli;mlt;kde;
Keywords[eu]=editatzea;bideoa;audioa;mlt;kde;
Keywords[fi]=editing;video;audio;mlt;kde;editointi;ääni;
Keywords[fr]=montage;vidéo;audio;mlt;kde;
Keywords[gl]=editing;edición;video;vídeo;audio;son;mlt;kde;
Keywords[he]=עריכה;וידאו;סרטון;שמע;אודיו;kde;mlt;
Keywords[hu]=szerkesztés;videó;hang;mlt;kde;
Keywords[id]=pengeditan;video;audio;mlt;kde;
Keywords[it]=editing;video;audio;mlt;kde;
Keywords[ja]=編集;動画;音声;mlt;kde;
Keywords[ka]=editing;video;audio;mlt;kde;
Keywords[ko]=editing;video;audio;mlt;kde;편집;비디오;오디오;동영상;음악;
Keywords[nl]=bewerken;video;audio;mlt;kde;
Keywords[nn]=redigering;video;lyd;mlt;kde;
Keywords[pl]=edytowanie;video;wideo;filmy;audio;dźwięk;mlt;kde;
Keywords[pt]=edição;vídeo;áudio;MLT;kde;
Keywords[pt_BR]=edição;vídeo;áudio;mlt;kde;
Keywords[ru]=editing;video;audio;редактирование;видео;аудио;mlt;kde;
Keywords[sk]=editovanie;video;audio;mlt;kde;
Keywords[sl]=montaža;video;film;zvok;mlt;kde;
Keywords[sv]=redigering;video;ljud;mlt;kde;
Keywords[tok]=ante;sitelen;kalama;mlt;kde;
Keywords[tr]=editing;video;audio;mlt;kde;
Keywords[uk]=editing;video;audio;mlt;kde;редагування;відео;звук;аудіо;млт;кдє;
Keywords[x-test]=xxeditingxx;xxvideoxx;xxaudioxx;xxmltxx;xxkdexx;
Keywords[zh_CN]=editing;video;audio;mlt;kde;编辑;剪辑;非编;视频;音频;bianji;jianji;feibian;shipin;yinpin;
Keywords[zh_TW]=editing;video;audio;mlt;kde;影片;影像;編輯;剪輯;
X-DBUS-ServiceName=org.kde.kdenlive
