[Desktop Entry]
Type=Service
ServiceTypes=Kdenlive/Plugin
Name=Timelineview Standard Tool
Name[da]=Standardværktøj til tidslinjevisning
Name[de]=Standardwerkzeug Zeitleistenansicht
Name[es]=Herramienta estándar de la línea de tiempo
Name[fr]=Outil standard de frise chronologique
Name[gl]=Ferramenta normal de vista da liña temporal
Name[hu]=Idővonal-nézet szabványos eszköz
Name[lv]=Laika līnijas standarta rīks
Name[nl]=Standaard hulpmiddel voor bekijken van de tijdlijn
Name[pt]=Ferramenta-Padrão da Linha Temporal
Name[pt_BR]=Ferramenta padrão da linha do tempo
Name[sk]=Štandardný nástroj Timelineview
Name[sl]=Standardno orodje Timelineview
Name[sv]=Standardverktyg för tidslinjevisning
Name[tr]=Zaman Tüneli Standart Aracı
Name[uk]=Стандартний інструмент монтажного столу
Name[x-test]=xxTimelineview Standard Toolxx
Name[zh_TW]=時間線檢視標準工具
X-KDE-PluginInfo-Name=kdenliveselecttool
X-KDE-Library=kdenliveselecttool
X-Kdenlive-Autoload=true
