[Desktop Entry]
Type=Service
ServiceTypes=Kdenlive/Plugin
Name=Project Notes
Name[da]=Projektnoter
Name[de]=Projektnotizen
Name[nl]=Project notities
Name[pt]=Notas do Projecto
Name[pt_BR]=Notas de projeto
Name[sl]=Opombe projekta
Name[sv]=Projektanteckningar
Name[uk]=Нотатки щодо проекту
Name[x-test]=xxProject Notesxx
X-KDE-PluginInfo-Name=kdenlivenotes
X-KDE-Library=kdenlivenotes
X-Kdenlive-Autoload=true
