[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Kdenlive/Plugin
Name=Kdenlive Plugin
Name[cs]=Modul Kdenlive
Name[da]=Kdenlive-plugin
Name[de]=Kdenlive-Modul
Name[nl]=Kdenlive-plug-in
Name[pt]='Plugin' do Kdenlive
Name[pt_BR]=Plugin do Kdenlive
Name[sk]=Plugin Kdenlive
Name[sl]=Vstavek za Kdenlive
Name[sv]=Kdenlive-insticksprogram
Name[tr]=Kdenlive Eklentisi
Name[uk]=Додаток Kdenlive
Name[x-test]=xxKdenlive Pluginxx

# @c true: plugin will be loaded at application start by the plugin manager,
# @c false: plugins needs to be created manually
[PropertyDef::X-Kdenlive-Autoload]
Type=bool
