[Desktop Entry]
Type=Service
ServiceTypes=Kdenlive/Clip
Name=Video Clip
Name[cs]=Videoklip
Name[da]=Videoklip
Name[nl]=Videoclip
Name[pt]='Clip' de Vídeo
Name[pt_BR]=Clipe de vídeo
Name[sk]=Videoklip
Name[sl]=Video posnetek
Name[sv]=Videoklipp
Name[uk]=Відеокліп
Name[x-test]=xxVideo Clipxx
X-KDE-PluginInfo-Name=kdenlivevideoclip
X-KDE-Library=kdenlivevideoclip
X-Kdenlive-ProvidedProducers=avformat
