# KDE Config File
[Desktop Entry]
Name=Kdenlive
GenericName=Video Editor
GenericName[de]=Video-Editor
GenericName[it]=Editor Video
GenericName[uk]=Редактор відео
Comment=Nonlinear video editor for KDE
Comment[de]=Nicht-linearer Video-Editor für KDE
Comment[it]=Editor video non lineare per KDE
Comment[uk]=Нелінійний редактор відео для KDE
Type=Application
Exec=kdenlive %i -caption "%c" %u
Icon=kdenlive
X-DocPath=http://kdenlive.org/user-manual
Terminal=false
MimeType=application/x-kdenlive;
Categories=Qt;KDE;AudioVideo;AudioVideoEditing;
