<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui name="kdenlive" version="19">
  <ToolBar name="extraToolBar" >
    <text>Extra Toolbar</text>
	<Action name="project_render" />
  </ToolBar>

  <MenuBar>
    <Menu name="edit" >
      <Action name="project_find" />
    </Menu>
    
    <Menu name="project" ><text>Project</text>
      <Action name="project_render" />
      <Action name="project_settings" />
    </Menu>

    <Menu name="tool" ><text>Tool</text>
      <Action name="select_tool" />
      <Action name="razor_tool" />
    </Menu>

    <Menu name="timeline" ><text>Timeline</text>
      <Action name="cut_timeline_clip" />
      <Action name="delete_timeline_clip" />
      <Menu name="marker_menu" ><text>Markers</text>
		<Action name="add_clip_marker" />
		<Action name="edit_clip_marker" />
		<Action name="delete_clip_marker" />
      </Menu>
      <Menu name="video_effects_menu" ><text>Add Video Effect</text>
      </Menu>
      <Menu name="audio_effects_menu" ><text>Add Audio Effect</text>
      </Menu>
      <Menu name="custom_effects_menu" ><text>Add Custom Effect</text>
      </Menu>
	  <Separator />
		<Action name="show_video_thumbs" />
		<Action name="show_audio_thumbs" />
		<Action name="show_markers" />
		<Action name="snap" />
	  <Separator />
		<Action name="zoom_fit" />
    </Menu>
    <Menu name="monitor" ><text>Monitor</text>
      <Action name="monitor_play" />
    </Menu>

    <Menu name="settings" >
      <Action name="manage_profiles" />
    </Menu>
  </MenuBar>
</gui>