<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui name="kdenlive" version="9">
  <ToolBar name="extraToolBar" >
    <text>Extra Toolbar</text>
    <Action name="clear" />
  </ToolBar>

  <MenuBar>
    <Menu name="file" >
      <Action name="clear" />
    </Menu>

    <Menu name="project" ><text>Project</text>
      <Action name="project_settings" />
    </Menu>

    <Menu name="monitor" ><text>Monitor</text>
      <Action name="monitor_play" />
    </Menu>

    <Menu name="settings" >
      <Action name="manage_profiles" />
    </Menu>
  </MenuBar>
</gui>