<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui name="kdenlive" version="36">
  <ToolBar name="extraToolBar" >
    <text>Extra Toolbar</text>
	<Action name="project_render" />
  </ToolBar>

  <MenuBar>
    <Menu name="file" >
      <Action name="dvd_wizard" />
    </Menu>
  
    <Menu name="edit" >
      <Action name="paste_effects" />
      <Action name="project_find" />
      <Action name="project_find_next" />
    </Menu>
    
    <Menu name="project" ><text>Project</text>
      <Action name="add_clip" />
      <Action name="add_color_clip" />
      <Action name="add_slide_clip" />
      <Action name="add_text_clip" />
      <Action name="add_folder" /> 
      <Menu name="generators" ><text>Generators</text>
      </Menu>
      <Separator />
      <Action name="reload_clip" />
      <Action name="clip_properties" />       
      <Action name="edit_clip" />
      <Action name="delete_clip" />
      <Separator />
      <Action name="project_render" />
      <Action name="project_settings" />
    </Menu>

    <Menu name="tool" ><text>Tool</text>
      <Action name="select_tool" />
      <Action name="razor_tool" />
      <Action name="spacer_tool" />
    </Menu>
    
    <Menu name="clip" ><text>Clip</text>
          <Menu name="marker_menu" ><text>Markers</text>
		<Action name="add_clip_marker" />
		<Action name="edit_clip_marker" />
		<Action name="delete_clip_marker" />
		<Action name="delete_all_clip_markers" />
	  </Menu>
	  <Action name="auto_transition" />
    </Menu>

    <Menu name="timeline" ><text>Timeline</text>
      <Action name="cut_timeline_clip" />
      <Action name="delete_timeline_clip" />
      <Action name="change_clip_speed" />
      <Menu name="guide_menu" ><text>Guides</text>
		<Action name="add_guide" />
		<Action name="edit_guide" />
		<Action name="delete_guide" />
		<Action name="delete_all_guides" />
      </Menu>
      <Menu name="space_menu" ><text>Space</text>
	<Action name="insert_space" />
	<Action name="delete_space" />
      </Menu>
      <Menu name="track_menu" ><text>Tracks</text>
	<Action name="insert_track" />
	<Action name="delete_track" />
	<Action name="change_track" />
      </Menu>
      <Separator />
      <Menu name="video_effects_menu" ><text>Add Video Effect</text>
      </Menu>
      <Menu name="audio_effects_menu" ><text>Add Audio Effect</text>
      </Menu>
      <Menu name="custom_effects_menu" ><text>Add Custom Effect</text>
      </Menu>
	  <Separator />
		<Action name="show_video_thumbs" />
		<Action name="show_audio_thumbs" />
		<Action name="show_markers" />
		<Action name="snap" />
	  <Separator />
		<Action name="zoom_in" />
		<Action name="zoom_out" />		
		<Action name="zoom_fit" />
    </Menu>
    <Menu name="monitor" ><text>Monitor</text>
      <Action name="monitor_play" />
      <Action name="monitor_play_zone" />
      <Action name="monitor_loop_zone" />
      <Separator />      
      <Menu name="monitor_go" ><text>Go To</text>
	    <Action name="seek_start" />
	    <Action name="monitor_seek_snap_backward" />
	    <Action name="seek_clip_start" />     
	    <Action name="seek_clip_end" />
	    <Action name="monitor_seek_snap_forward" />
	    <Action name="seek_end" />
      </Menu>
      <Action name="monitor_seek_backward" />
      <Action name="monitor_seek_backward-one-frame" />
      <Action name="monitor_seek_backward-one-second" />
      <Action name="monitor_seek_forward-one-second" />
      <Action name="monitor_seek_forward-one-frame" />
      <Action name="monitor_seek_forward" />
      <Separator />      
      <Action name="mark_in" />
      <Action name="mark_out" />
    </Menu>
    <Menu name="dockwindows" ><text>View</text>
    </Menu>
    <Menu name="settings" >
      <Action name="manage_profiles" />
      <Action name="get_new_lumas" />
      <Action name="get_new_profiles" />
      <Action name="get_new_mlt_profiles" />
      <Action name="run_wizard" />
</Menu>
  </MenuBar>
</gui>