# KDE Config File
[Desktop Entry]
GenericName=Video Editor
Type=Application
Exec=kdenlive %i -caption "%c" %u
Icon=kdenlive
X-DocPath=kdenlive/index.html
Comment=Nonlinear video editor for KDE
Terminal=false
Name=Kdenlive
Name[de]=Kdenlive
MimeType=application/x-kdenlive;
Categories=Qt;KDE;AudioVideo;AudioVideoEditing;
