[Desktop Entry]
Type=Service
ServiceTypes=Kdenlive/Parameter
Name=Color Parameter
Name[da]=Farveparameter
Name[de]=Farbparameter
Name[nl]=Kleurparameter
Name[pt]=Parâmetro de Cor
Name[pt_BR]=Parâmetro de cores
Name[sl]=Barvni parameter
Name[sv]=Färgparameter
Name[tr]=Renk Parametresi
Name[uk]=Параметр кольору
Name[x-test]=xxColor Parameterxx
Name[zh_TW]=色彩參數
X-KDE-PluginInfo-Name=kdenlivecolorparameter
X-KDE-Library=kdenlivecolorparameter
X-Kdenlive-ParameterType=color
