[Desktop Entry]
Type=Service
ServiceTypes=Kdenlive/Parameter
Name=Double Parameter
Name[da]=Dobbelt parameter
Name[es]=Parámetro de precisión doble
Name[fr]=Paramètre double
Name[gl]=Parámetro duplo
Name[hu]=Dupla paraméter
Name[lv]=Dubultais parametrs
Name[nl]=Dubbele parameter
Name[pt]=Parâmetro de Vírgula Flutuante
Name[pt_BR]=Parâmetro de vírgula flutuante
Name[sk]=Dvojitý parameter
Name[sl]=Dvojni parameter
Name[sv]=Dubbel parameter
Name[tr]=Çift Parametre
Name[uk]=Параметр з подвійною точністю
Name[x-test]=xxDouble Parameterxx
Name[zh_TW]=雙精確度參數
X-KDE-PluginInfo-Name=kdenlivedoubleparameter
X-KDE-Library=kdenlivedoubleparameter
X-Kdenlive-ParameterType=double,constant,integer,float
